
@{
    ViewBag.Title = "Index";
}


<div class="d-flex flex-wrap gap-5">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Sei un Dipendente?</h5>
            <p>Effettua il Login!</p>
            <button class="btn btn-info">@Html.ActionLink("Login", "Login", "Login")</button>
        </div>
    </div>
</div>

